
<!-- include header -->
<%- include('include/_0_header') %>
<!-- include header -->
<link rel="stylesheet" href="css/general.css">
<link rel="stylesheet" href="css/icon_collections.css">
</head>
<body>

    <!-- Header -->
    <div id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/home" class="nav-brand text-dark">Sistema de Gestión y Finanzas</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Header -->
    
    <!-- Main Site -->
    <main id="site-main">
        <div class="collection">
            <div class="collection-div">
                <a href="/nuestros-vecinos">
                    <span class="collection-icon">
                        <i class="fas fa-house-user"></i>
                        <br>
                        Nuestros Vecinos                        
                    </span>
                </a>
            </div>
            <div class="collection-div">
                <a href="/nuestros-proveedores?centrocosto=null">
                    <span class="collection-icon">
                        <i class="fas fa-handshake"></i>
                        <br>
                        Nuestros Proveedores                       
                    </span>
                </a>
            </div>
            <div class="collection-div">
                <a href="/junta-directiva">
                    <span class="collection-icon">
                        <i class="fas fa-users"></i>
                        <br>
                        Junta Directiva                      
                    </span>
                </a>
            </div>
            <div class="collection-div">
                <a href="/registro-ingresos">
                    <span class="collection-icon">
                        <i class="fas fa-hand-holding-usd"></i>
                        <br>
                        Registro de Ingresos                        
                    </span>
                </a>
            </div>
            <div class="collection-div">
                <a href="/registro-egresos">
                    <span class="collection-icon">
                        <i class="fas fa-file-invoice-dollar"></i>
                        <br>
                        Registro de Egresos                        
                    </span>
                </a>
            </div>
            <div class="collection-div">
                <a href="/registro-prestamos">
                    <span class="collection-icon">
                        <i class="fas fa-comments-dollar"></i>
                        <br>
                        Registro de Préstamos y Cobranzas                      
                    </span>
                </a>
            </div>
            <div class="collection-div">
                <a href="/reportes">
                    <span class="collection-icon">
                        <i class="fas fa-chart-line"></i>
                        <br>
                        Reportes                     
                    </span>
                </a>
            </div>
        </div>
        <br>
        <br>
    </main>
    <!-- Main Site -->

    <!-- Footer -->
    <div id="footer">
        <nav>
            <div class="container">
                <a class="text-white">Condominio Enrique Palacios 635 | Elías Aguirre 271 - Miraflores - Lima - Perú</a>
                <a class="text-white">2021 - Desarrollado por: Ing. D.Bonilla</a>
            </div>
        </nav>
    </div>
    <!-- Footer -->

<!-- include footer -->
    <%- include('include/_8_footer') %>
<!-- include footer -->