
<!-- include header -->
<%- include('include/_0_header') %>
<!-- include header -->
<link rel="stylesheet" href="css/general.css">
<link rel="stylesheet" href="css/forms.css">
</head>
<body>
    <!-- Header -->
    <div id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/home" class="nav-brand text-dark">Junta Directiva</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Header -->
    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/junta-directiva"><i class="fas fa-angle-double-left"></i> Juntas</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Nueva Junta Directiva</h2>
            </div>
                <!-- form-handling -->
                <form action="/api/junta" method='POST' id="add_junta">
                    <div class="form_body">
                        <div class="form-group">
                            <label for="año" class="text-light">Año</label>
                            <input type="hidden" name="id" value="">
                            <select id="combo_años" name="año" required>
                                <option selected="true" disabled="disabled"></option>
                            <% for(let i=0; i < años.length; i++) {%>
                                <option><%=años[i]%></option>
                            <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="presidencia" class="text-light">Presidencia</label>
                            <input type="text" name="presidencia" value="" placeholder="Nombre y Apellido de la persona (obligatorio)" required>
                        </div>
                        <div class="form-group">
                            <label for="tesoreria" class="text-light">Tesorería</label>
                            <input type="text" name="tesoreria" value="" placeholder="Nombre y Apellido de la persona (obligatorio)" required> 
                        </div>
                        <div class="form-group">
                            <label for="secretaria" class="text-light">Secretaría</label>
                            <input type="text" name="secretaria" value="" placeholder="Nombre y Apellido de la persona (obligatorio)" required>
                        </div>
                        <div class="form-group">
                            <label for="administracion" class="text-light">Administración</label>
                            <input type="text" name="administracion" value="" placeholder="Nombre y Apellido de la persona">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn text-dark update">Crear</button>
                        </div>
                    </div>
                </form>
        </div>
    </main>
    <!-- Main Site -->

    <script src="/js/3_junta_directiva.js"></script>
    
<!-- include footer -->
<%- include('include/_8_footer') %>
<!-- include footer -->